#homescreen:before {
  position: absolute;
  content: "";
  background: transparent url(/noise.png) 0 0; /*partially transparent image*/
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.03;
  /* animation: noise 0.5s infinite both; */
  z-index: 20;
}
/* 
@keyframes noise {
  0% {
    transform: scale(1);
    margin-left: 0;
  }
  10% {
    transform: scale(1.5);
    margin-left: 100px;
  }
  20% {
    transform: scale(1);
    margin-left: 0px;
    margin-right: 0px;
  }
  30% {
    transform: scale(1.5);
    margin-right: 100px;
  }
  40% {
    transform: scale(1);
    margin-right: 0px;
    margin-top: 0px;
  }
  50% {
    transform: scale(1.5);
    margin-top: 100px;
  }
  60% {
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
  }
  70% {
    transform: scale(1.5);
    margin-bottom: 100px;
  }
  80% {
    transform: scale(1);
    margin-bottom: 0px;
    margin-top: 0px;
  }
  90% {
    transform: scale(1.5);
    margin-top: 100px;
  }
  100% {
    transform: scale(1);
    margin-top: 0px;
  }
} */
